<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista studentów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Data urodzenia</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>Pazio</td>
                    <td>13.05.1999</td>
                    <td>
                        <ul class="table-list-actions">
                            <li><a href="studenci_details.html" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="studenci_edit.html" class="list-actions-button-edit">Edytuj</a></li>
                            <li><a href="" class="list-actions-button-delete">Usuń</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Robert</td>
                    <td>Śmigłowiec</td>
                    <td>12.08.1999</td>
                    <td>
                        <ul class="table-list-actions">
                            <li><a href="" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="" class="list-actions-button-edit">Edytuj</a></li>
                            <li><a href="" class="list-actions-button-delete">Usuń</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><a href="studenci_form.html" class="button-add">Dodaj nowego studenta</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>