<%- include('./fragments/header.ejs') %>
<main>
    <h2>Strona główna</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad facere sequi asperiores soluta tenetur quidem
        aut exercitationem quia odit facilis!</p>
</main>
<%- include('./fragments/footer.ejs') %>